---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';

const pageTitle = "私について";

const identity ={
	name: "zubasyan",
	country: "日本",
	hobbies: ["Tetris","競プロ","いろいろ"]
};

const skills = ["C++(競プロ)","Python(いろいろ)"]

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase"



---

<style>
	
	h1{
		/*直後に横長の線を引く h3より大きくする*/
		border-bottom: solid 4px #000;
		padding-bottom: 0.3em;
	}	
	h3{
		/*直後に横長の線を引く*/
		border-bottom: solid 2px #000;
		padding-bottom: 0.2em;

	}
</style>

<BaseLayout >
	<h1>私について</h1>
	{identity.name}です。
	{identity.hobbies.length>=2&&
	<h3>趣味</h3>
	<p>{identity.hobbies[0]}と{identity.hobbies[1]}です。</p>}
	<p>ぷよぷよテトリスのテトリスの部分の場所で育ちました。</p>
	<p><a href="https://atcoder.jp/users/zuba">atcoder</a></p>
	<p><a href="https://codeforces.com/profile/zzuubbaa">codeforces</a></p>

	<h3>使える言語（プロじゃないよ ＞_＜）</h3>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	<h1>このサイトについて</h1>
	<p>主にブログを書いていきます。</p>
	<p>いろいろ追加、漬物する予定です。</p>
</BaseLayout>
