---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import BlogPost from '../components/BlogPost.astro';
//最新記事5件をとる
const allPosts = Object.values(import.meta.glob('./blog/**/*.md', { eager: true }));
const latestPosts = allPosts
	.sort((a: any, b: any) => new Date(a.frontmatter.pubDate).getTime() - new Date(b.frontmatter.pubDate).getTime())
	.slice(0, Math.min(5, allPosts.length));
---

<BaseLayout pageTitle="ホームページ">
	<Greeting client:load messages={["こんばんは", "こんにちは", "初めまして", "Hello World","む","ねむい"]} />
	<p><a href="/site/about/">このサイトについて</a></p>
	<h2>Topics</h2>
	
	<ul>
	{latestPosts.map((post: any)=> <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>

</BaseLayout>
